* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-bar{
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1rem;

        li {
            display: grid;
            place-items: center;
        }
    }
}

.header-bar {
    background-color: var(--primary-color);
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: relative;

    .header-title {
        grid-column: 2;
        justify-self: center;
        color: var(--white);
        font-size: var(--second-line);
        font-weight: 700;
    }

    svg {
        grid-column: 3;
        justify-self: end;
    }
}

.user-name {
    font-size: var(--first-line);
    line-height: 2em;
    padding-top: 1.5em;
}

.user-section {
    width: 100dvw;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    grid-template-rows: 1fr 1.3fr;
    background-color: var(--grey-background);
    color: var(--primary-color);
}

.user-info {
    display: grid;
    place-items: center;

    p:first-of-type  {
        color: var(--add-action);
        }

    p:last-of-type  {
        font-weight: 700;
        color: var(--add-action);
    }
}

.user-activity-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        padding: 1rem;
        gap: 10em;

        li {
            place-items: center;

            svg {
                fill: var(--primary-color);
            }
        }
    }

.user-activity-list svg {
    color: var(--primary-color);
    }