* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-bar{
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    /* Dit is uiteindelijk toegevoegd zodat ik een padding-bottom kan geven aan de main */
    height: 4em;

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1rem;

        li {
            display: grid;
            place-items: center;
        }
    }
}

.header-bar {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 1.5em;

    .notifications-title {
        grid-column: 2;
        color: var(--white);
        grid-row: 1;
        font-size: var(--first-line);
    }

    a {
        grid-column: 1;
        justify-self: start;
    }

    svg, svg > * {
        fill: var(--white);
        stroke: var(--white);
        transition: 0.4s ease-in;

    }
    a:hover svg, a:hover svg > *{
        fill: var(--secondary-action);
        stroke: var(--secondary-action);
    }
}

/* Vraag over svg */
.notification-section {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-column: 1;
    background-color: var(--white);
    padding: 1em;

    svg, svg > * {

        &:first-child {
            fill: var(--star-button);
            stroke: var(--star-button);
            translate: 0 5px;
        }

        &:nth-of-type(2) {
            fill: var(--like-button);
            stroke: var(--star-button);
            translate: 0 3px;    
        } 
    }

    .checkbox-slider {
        grid-column: 2;
        padding: .1em;
    }  
}

.notification-list-list {
    display: flex;
    flex-direction: column;
    gap: .1em;
    background-color: var(--grey-background);
    padding-bottom: .1em;

    .notification {
        font-size: var(--second-line);
        color: var(--primary-color);
    }
}