* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-bar{
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    /* Dit is uiteindelijk toegevoegd zodat ik een padding-bottom kan geven aan de main */
    height: 4em;

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1rem;

        li {
            display: grid;
            place-items: center;
        }
    }
}

.header-bar {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 1.5em;

    .settings-title {
        grid-column: 2;
        color: var(--white);
        grid-row: 1;
        font-size: var(--first-line);
    }

    a {
        grid-column: 1;
        justify-self: start;
    }
}

/* Zodat main content niet achter de nav verdwijnt */
main {
    padding-bottom: 10em;
}

.settings-list {
    display: flex;
    flex-direction: column;
    background-color: var(--grey-background);
    gap: .1em;
    font-size: var(--second-line);
    
    li {
        padding-left: 1em;
        background-color: var(--white);
        padding: .8em;

        a {
            text-decoration: none;
            color: var(--primary-color);

            &:hover {
                color: var(--grey-text-color);
            }

            &:active {
                color: var(--secondary-action);
                transition: 0.2s ease-in;
            }
        }
    }
}

/* Gekeken hoe het eruit ziet bij Iphone 12 Pro min-width:390px */
.only-text-button {
    background-color: var(--white);
    font-size: 1.5em;
    display: grid;
    place-items: end;
    width: 100vw;
    padding-right: 1.5em;
    font-weight: 400;
    translate: 0 2em;

    /* Groot en half scherm op laptop */
    @media (min-width: 700px) {
        padding-right: 1.5em;
        translate: 0 3.1em;
    }
}